body {
    background-color: #4361ee;
    height: 100vh;
    display: flex;
    justify-content: center; 
    align-items: center; 
    overflow: hidden;
}

.hero {
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: 'Cabinet Grotesk', sans-serif;
}

.hero h1 {
    color: #f1f1f1;
    font-size: 18vh;
    font-weight: 900;
    text-align: center;
    filter: drop-shadow(0 0 0.6vh white);
    color: white;
   -webkit-text-stroke: 1x rgb(255, 255, 255); 
   -webkit-text-fill-color: white; 
}

.hero button {
    height: 7vh;
    width: 30vh;
    position: relative;
    bottom: 10vh;
    left: 95vh;
    border: 0.4vh solid #fff;
    border-radius: 2vh;
    font-size: 3vh;
    background-color: #E6325A;
    color: #fff;
    filter: drop-shadow(0 0 0.6vh white);
    cursor: pointer;
}

.hero button:hover {
    background-color: #af2e4a;
}

/* Posición e imagen en cada esquina */
.corner {
  position: absolute;
  object-fit: cover;
}

.top-left {
  top: -8vh;
  left: -10vh;
  transform: rotate(120deg);
  width: 40vh;
  height: 40vh;
  filter: drop-shadow(0 0 2vh white);
}

.top-right {
  top: -8vh;
  right: -10vh;
  transform: rotate(220deg);
  width: 40vh;
  height: 40vh;
  filter: drop-shadow(0 0 2vh white);
}

.bottom-left {
  bottom: -8vh;
  left: -10vh;
  transform: rotate(60deg);
  width: 40vh;
  height: 40vh;
  filter: drop-shadow(0 0 2vh white);
}

.bottom-right {
  bottom: -8vh;
  right: -10vh;
  transform: rotate(320deg);
  width: 40vh;
  height: 40vh;
  filter: drop-shadow(0 0 2vh white);
}

