body {
    background-color: #4361ee;
    height: 100vh;
    display: flex;
    justify-content: center; 
    align-items: center; 
    overflow: hidden;
}

.pdf-container {
  width: 60%; 
  height: 90vh;
  overflow: auto;
  background: white;
  border-radius: 2vh;
  filter: drop-shadow(0 0 0.8vh white);
}

iframe {
  width: 100%;
  height: 100%;
  border: none;
}

.pdf-container button {
    font-size: 4vh;
    margin: 10px;
    padding: 1.5vh 2.5vh 1.5vh 1.5vh;
    background-color: #4895ef;
    color: #fff;
    font-family: 'Cabinet Grotesk', sans-serif;
    border: none;
    border-radius: 2vh;
    cursor: pointer;
}

.pdf-container button:hover {
    background-color: #3a5bee;
}